
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

$gray: #919191;
$lightgray: #DADADA;
$black: #000000;
$brandblue: #43B1E6;


@mixin border{
    border: 1px solid red;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    height: 100vh;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $lightgray;
    cursor: pointer;
}

button {
    cursor: pointer;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    border-bottom: 1px solid $lightgray;
   .desktop-logo {
    display: none;
   }
   .desktop-nav-control {
    display: none;
   }

   .nav-menu-container {
    grid-column: 1;
    position: relative;
    @include flex(row, flex-start, center);
        .nav-menu{
            position: absolute;
            top: 6.15rem;
            left: -23rem;
            padding: 2rem;
            background: $gray;
            width: 20rem;
            transition: 0.3s;
            @include flex(column, center, center);
            border-bottom-right-radius: 1rem;
            z-index: 2;
            li {
                margin-bottom: 4rem;
                border-bottom: 1px solid $lightgray;
                width: 100%;
            }
            a {
                font-size: 2rem;
            }
        }
   }

   input[type=checkbox] {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0;
   }

   input[type=checkbox]:checked ~ .nav-menu {
        left: -3rem;
   }


   .mobile-logo{
    grid-columns: 2;
    @include flex(row, center, center);
   }

   .mobile-nav-control {
    grid-column: 3;
    @include flex(row, flex-end, center);
    a {
     &:first-child {
       margin-right: 2.5rem;
        }
    }

   }

}
//Nav End---------------------------

.my-cart {
    z-index: 1;
    padding: 0 2rem;
  h2 {
    font-size: 3.3rem;
    margin: 2rem 0;
  }
  .cart-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 1rem;
    font-size: 1.4rem;
    border-bottom: 1px solid $lightgray;
    .item-info {
        grid-column: 1;
        @include flex(row, flex-start, center);
        img {
            width: 4.8rem;
        }
        .song-artist{
            @include flex(column, center, flex-start);
            line-height: 2rem;
            margin-left: 1.2rem;
            width: 15rem;
        }
        .item-title-2{
            color: $gray;
        }
    }
    .item-category {
        @include flex(row, flex-start, center);
        grid-column: 1;
        color: $gray;
        position: relative;
        bottom: 1rem;
        img {
            width: 2rem;
        }
        span {
            margin-left: 0.25rem;
        }
    }
    .item-controls {
        @include flex(column, center, flex-end);
        position: relative;
        right: 3rem;
        .mobile-remove-btn {
            background: none;
            border: none;
            position: relative;
            bottom: 4rem;
        }
        .credit-count {
            font-size: 1.6rem;
            font-weight: 700;
        }
        .mobile-sfl-btn {
            font-size: 1.4rem;
            padding: 0.9rem;
            width: 14rem;
            border-radius: 50px;
            background: none;
            border: 1px solid $gray;
            color: $gray;
            position: relative;
            top: 2rem;
        }

    }
    .desktop-remove-sfl {
        display: none;
    }
  }

}


.continue-shopping {
    padding: 1.6rem 0 4rem 0;
    a {
     color: $brandblue;
     font-size: 1.6rem;
    }
}

.order-summary {
  background: #FAFAFA;
  padding: 4rem 2rem;
  h3 {
    font-size: 2.8rem;
    padding: 0 0 4rem 0;
  }
  .order-item {
    @include flex(row, space-between, center);
    font-size: 1.6rem;
    margin: 1rem 0;
    .order-item-value {
        color: $gray;
    }
  }
  .promo {
    padding: 1.6rem 0;
    div {
        img {
            position: relative;
            left: 1.85rem;
            bottom: 0.5rem;
            
        } 
    }

}
.toggle-promo {
    opacity: 0;
    width: 2rem;
    height: 2rem;
}
  .promo-code {
    display: none;
    text-align: center;
    input[type=text] {
        padding: 1rem 2rem;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border: 1px solid $lightgray;
    }
    input[type=submit] {
        padding: 1rem 2rem;
        color: white;
        background: $brandblue;
        border: none;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

.subtotal {
    border-top: 1px solid $lightgray;
    padding-top: 1.6rem;
}

.tax {
    border-bottom: 1px solid $lightgray;
    padding-bottom: 1.6rem;
}

.total {
    border-bottom: 1px solid $lightgray;
    padding: 1.6rem 0;
}

.last-4 {
    color: $gray;
}

.edit-card{
    color: $brandblue;
    text-decoration: underline;
}

.card-info {
    border-bottom: 1px solid $lightgray;
    padding-bottom: 1.6rem;
}

.place-order-container {
    padding-top: 1rem;
    span {
        font-size: 1.6rem;
        color: $gray;
    }
    button {
        display: block;
        margin: 1.6rem auto;
        font-size: 1.8rem;
        width: 90%;
        padding: 1.6rem 0;
        background: $brandblue;
        border: none;
        border-radius: 5rem;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 400;
    }
    p {
        font-size: 1.4rem;
        text-align: center;
        padding: 0 3rem;
        color: $lightgray;
        a {
            text-decoration: underline;
        }
    }
}
}

.saved-for-later {
  padding: 0 2rem;
  h4 {
    font-size: 2.3rem;
    margin: 4rem 0 0 0;
  }
  .sfl-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 1rem;
    font-size: 1.4rem;
    border-bottom: 1px solid $lightgray;
    .sfl-item-info {
        grid-column: 1;
        @include flex(row, flex-start, center);
        img {
            width: 4.8rem;
        }
        .sfl-song-artist{
            @include flex(column, center, flex-start);
            line-height: 2rem;
            margin-left: 1.2rem;
            width: 15rem;
        }
        .sfl-item-title-2{
            color: $gray;
        }
    }
    .sfl-item-category {
        @include flex(row, flex-start, center);
        grid-column: 1;
        color: $gray;
        position: relative;
        top: 1rem;
        img {
            width: 2rem;
        }
        span {
            margin-left: 0.25rem;
        }
    }
    .sfl-item-controls {
        @include flex(column, center, flex-end);
        position: relative;
        right: 3rem;
        .mobile-remove-btn {
            background: none;
            border: none;
            position: relative;
            bottom: 4rem;
        }
        .atc-btn {
            font-size: 1.4rem;
            padding: 0.9rem;
            width: 14rem;
            border-radius: 50px;
            background: none;
            border: 1px solid $gray;
            color: $gray;
            position: relative;
        }

    }
    .desktop-remove-sfl {
        display: none;
    }
    .sfl-desktop-remove {
        display: none;
    }

  }
}

.footer-navigation {
    background: #282828;
    color: #ffffff;
    padding: 4rem 0 0 0;
    .subscribe-form {
        @include flex(row, center, center);
        width: 100%;
        padding: 0 1.2rem 3.2rem 1.2rem;      
        label {
            font-size: 2rem;
        }
        #subscribe-input{
            background: $black;
            border: none;
            box-shadow: 0px 0px 5px -2px $lightgray;
            padding: 1rem;
            border-top-left-radius: 0.4rem;
            border-bottom-left-radius: 0.4rem;
            width: 79%;
            font-size: 1.4rem;
            margin-top: 1rem;
        }
        input[type=submit]{
           padding: 1rem 0;
           width: 20%;
           background: $brandblue;
           color: #ffffff;
           border: none;
           border-top-right-radius: 0.4rem;
           border-bottom-right-radius: 0.4rem;
        }

    }
    .have-a-problem {
        @include flex(column, flex-start, flex-start);
        padding: 0 1.2rem;
        span {
            font-size: 2rem;
        }
        a {
            color: $gray;
            font-size: 1.4rem;
            padding-bottom: 3.2rem;
        }
    }
    .footer-nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 41rem;
        padding: 0 1.2rem;
        .products {
            grid-column: 1;
        }
        .resources {
            grid-column: 2;
        }
        .company {
            grid-column: 2;
            position: relative;
            bottom: 11rem;
            
        }
        .store {
            grid-column: 1;
        }
        .extras {
            grid-column: 1;
            position: relative;
            bottom: 11.5rem;
           
        }
        .account {
            grid-column: 2;
            position: relative;
            bottom: 25rem;
        }
    }
    .footer-nav-2 {
        height: 27rem;
    }
    .footer-nav-item {
        height: 25rem;
        ul {
            padding-top: 0.8rem;
        }
        li {
            padding-bottom: 0.8rem;
        }
        a {
            color: $gray;
            font-size: 1.6rem;
        }
        }
        
    
    .footer-nav-title {
        font-size: 2rem;
    }

    .socials {
       .social-links {
        @include flex(row, center, center);
        gap: 1.6rem;
        padding-bottom: 3.2rem;

        img {
            width: 2.4rem;
        }
       }
       .like-follow {
        @include flex(row, center, center);
        gap: 2rem;
        padding-bottom: 4rem;
        button {
          width: 6.4rem;
          background: none;
          border: none;
        }
       }
    }
}
footer {
    padding: 1.6rem 0 2.4rem 0;
    text-align: center;
    background: #171717;
    color: $gray;
    a {
        font-size: 1.7rem;
        color: $gray;
    }
    .language-icon{
        width: 1.8rem;
        position: relative;
        top: 0.25rem;
        right: 1rem;
    }
    .chevron {
       position: relative;
       left: 1rem;
       top: 0.15rem;
    }
    .terms-privacy-contact {
        @include flex(row, center, center);
        gap: 2rem;
        font-size: 1.4rem;
        padding: 1.6rem 0;
    }
    .legal {
        font-size: 1.4rem;
        @include flex(column, center, center);
        gap: 0.5rem;
    }
}

.clear {
    height: 9rem;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    @include flex(row, space-between, center);
    background: #ffffff;
    padding: 1.6rem;
    line-height: 2.1rem;
    span {
        font-size: 1.4rem;
        display: block;
    }
    button{
        background: $brandblue;
        border-radius: 5rem;
        border: none;
        font-size: 1.6rem;
        color: #ffffff;
        padding: 1.6rem 3.2rem;
    }
}

@media screen and (min-width: 1090px){
    html {
        font-size: 12px;
    }

    .sticky-footer {
        display: none;
    }
    .clear {
        display: none;
    }
   nav {
    @include flex(row, space-between, center);
    padding: 2rem;
    .mobile-logo {
        display: none;
    }

    .mobile-nav-control {
        display: none;
    }

    .toggle-menu-btn, .toggle-menu {
        display: none;
    }

    .desktop-logo {
        display: block;
        @include flex(row, flex-start, center);
        font-size: 1.5rem;
        h1 {
            margin-left: 0.5rem;
            font-weight: 700;
        }
        span {
            font-weight: 300;
        }
    }

    .desktop-nav-control {
        display: block;
        ul {
          @include flex(row, center, center);
          li {
            font-size: 1.5rem;
            margin-right: 2rem;
          }
          a {
            color: $gray;
          }
        }
        img {
            width: 1.15rem;
            margin-right: 0.25rem;
        }
        form {
            position: relative;
            input {
                padding: 0.5rem;
                border: 2px solid $lightgray;
                border-radius: 0.5rem;
                &::placeholder {
                    color: $lightgray;
                }
            }
            img {
                position: absolute;
                left: 10rem;
                top: 0.35rem;
                width: 2rem;
            }
        }
    }

    .nav-menu-container {
        position: relative;
        @include flex(row, center, center);
            .nav-menu{
                position: relative;
                top: 0;
                right: 0;
                left: 2rem;
                padding: 0;
                background: none;
                width: auto;
                @include flex(row, center, center);
                border-bottom-right-radius: 0;
                transition: 0;
                li {
                    margin-bottom: 0;
                    border-bottom: 0;
                    width: auto;
                    margin-right: 2rem;
                }
                a {
                    font-size: 1.5rem;
                    color: $gray;
                }
                .special a {
                    color: $brandblue;
                }
            }
       }
   }
   //Mobile nav end--------------------------

   main {
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-template-rows: 50rem 50rem;
}

.my-cart {
  grid-column: 1;
  grid-row: 1;
  padding: 0 3.75rem;
  h2 {
    margin: 6.6rem 0 5.3rem 0;
  }
  .cart-item {
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 7rem;
    .item-info {
        img {
            width: 7.3rem;
        }
    }
    .item-category {
        grid-column: 2;
        bottom: 0;
        margin: 0 auto;
    }
    .credit-count {
        font-size: 1.3rem;
        position: relative;
        top: 0.6rem;
    }
    .desktop-remove-sfl {
        display: block;
        position: relative;
        top: 3.75rem;
        button {
            background: none;
            border: none;
            color: $gray;
            font-weight: 300;
            font-size: 1.3rem;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        span {
            color: $gray;
            padding: 0 0.5rem;
        }
      }
  }
  .mobile-sfl-btn {
    display: none;
  }
  .mobile-remove-btn {
    display: none;
  }

  .continue-shopping a{
    font-size: 1.3rem;
  }
}

.order-summary {
  grid-column: 2;
  grid-row: 1/3;
  padding: 6.6rem 6.25rem 0 6.25rem;
  font-size: 1.3rem;
  margin-top: 8.75rem;
  h3 {
    padding: 0 0 6.6rem 0;
  }
  .toggle-promo {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
  }

  .order-item {
    margin: 1.6rem 0;
    img {
        left: 10rem;
    }
  }
  .promo {
    padding: 2.6rem 0;
}
.subtotal {
    padding-top: 2.6rem;
}

.tax {
    padding-bottom: 2.6rem;
}

.total {
    padding: 1.6rem 0 2.6rem 0;
}
.place-order-container {
    padding-top: 2.6rem;
    button {
        margin: 5rem auto 2.6rem auto;
    }
}

  }
  .saved-for-later {
    grid-column: 1;
    grid-row: 2;
    padding-top: 8rem;
    h4 {
        margin: 2rem 0 0 0;
    }
    .sfl-item {
      grid-template-columns: 1fr 1fr 1fr;
      .sfl-item-category {
        grid-column: 2;
        margin: 0 auto;
        padding-bottom: 1.5rem;
    }
    .mobile-remove-btn {
        display: none;
    }

    .desktop-remove-atc {
        display: block;
        .sfl-desktop-remove {
            display: inline;
            background: none;
            border: none;
            color: $gray;
            font-size: 1.3rem;
            &:hover {
             text-decoration: underline;
            }
            }
        
        span {
            color: $gray; 
        }
        .atc-btn {
            margin-left: 1.3rem;
            font-size: 1.4rem;
            padding: 0.9rem;
            width: 14rem;
            border-radius: 50px;
            background: none;
            border: 1px solid $gray;
            color: $gray;
            position: relative;
        }
    }
    }
    .sfl-item-controls {
        grid-column: 3;
    }
  }
  .footer-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15rem 15rem;
    padding: 4rem 11.25rem 11.25rem 11.25rem;
    grid-column-gap: 3rem;
    .subscribe-form {
        grid-column: 3;
        grid-row: 1/2;
        position: relative;
        bottom: 2.5rem;
    }
    .have-a-problem {
        grid-column: 3;
        grid-row: 2/3;
        position: relative;
        bottom: 5rem;
    }
    .socials {
        grid-column: 3;
        @include flex(row, center, center);
        position: relative;
        bottom: 13rem;
        gap: 5rem;
        .like-follow {
            position: relative;
            bottom: 1.5rem;
            gap: 1rem;
            padding-bottom: 0;
        }
    }
    .footer-nav {
        grid-column: 1;
        grid-row: 1;
    }
    .footer-nav-2 {
        grid-column: 2;
        grid-row: 1;
    }
  }
  footer {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-row: 0.5rem;
    padding: 0;
    .legal {
        grid-column: 1;
        grid-row: 1;
        flex-direction: row;
    }
    .terms-privacy-contact {
        grid-column: 2;
        grid-row: 1;
    }
    .language {
        grid-column: 3;
        grid-row: 1;
        padding: 0;
        @include flex(row, center, center);
    }
}
}



